In [1]:
"I'm Akhil"

"I'm Akhil"

In [74]:
print("#",)
print("#",end=" ")
print("#",end=" ")

#
# #

In [3]:
for i in range (4):
    for j in range (4):
        print("# ",end="")
    print()

# # # #
# # # #
# # # #
# # # #

In [15]:
for i in range (4):
    for j in range(i+1):
        print("# ",end="")
    print()

#
# #
# # #
# # # #

In [19]:
for i in range (4):
    for j in range(4-i):
        print(" ",end=" ")
    for k in range(i):
        print('#',end="")
    print(end='\n')

      #
    ##
  ###

In [29]:
for i in range (5):
    for k in range(5-i):
        print('',end=' ')
    for j in range(i):
        print('*',end=' ')
    print(end='\n')

    *
   * *
  * * *
 * * * *

In [58]:
for i in range (5):
    for k in range(5-1):
        print('',end=' ')
    for j in range(i):
        print('*',end=' ')
    print(end='\n')

    *
    * *
    * * *
    * * * *

In [87]:
n = int(input("Enter the number of rows needed:"))
for i in range (n):
    for j in range (n-i):
        print('',end=' ')
    for k in range (i):
        print(n-i,end=' ')
    print(end='\n')

Enter the number of rows needed:5

    4
   3 3
  2 2 2
 1 1 1 1

In [84]:
n = int(input("Enter the number of rows needed:"))
for i in range (n):
    for j in range (i+1):
        print(n-i,end=' ')
    print(end='\n')

Enter the number of rows needed:6
6
5 5
4 4 4
3 3 3 3
2 2 2 2 2
1 1 1 1 1 1

In [56]:
n = int(input("Enter the number of rows needed:"))
for i in range (n):
    for j in range (i,-1,-1):
        print(j+1,end=' ')
    print(end='\n')

Enter the number of rows needed:5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [1]:
n=5
for i in range (n):
    for j in range (n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [2]:
n=5
for i in range (n):
    for j in range (i-1):
        print("*",end=" ")
    print()

*
* *
* * *

In [3]:
n=5
for i in range (n):
    for j in range (i,n):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [4]:
n=5
for i in range (n):
    for j in range (i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [5]:
n=5
for i in range (n):
    for j in range (i,n):
        print(" ",end=" ")
    for j in range (i+1):
        print ("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [10]:
n=5
for i in range (n):
    for j in range (i+1):
        print(" ",end=" ")
    for j in range (i,n):
        print("*",end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [1]:
n=int(input("Value = "))
for i in range (n):
    for j in range (i,n):
        print(" ",end=" ")
    for j in range (i):
        print("*",end=" ")
    for j in range (i+1):
        print ("*",end=" ")
    print()

Value = 5
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [16]:
n=5
for i in range (n):
    for j in range (i+1):
        print(" ",end=" ")
    for j in range (i,n-1):
        print("*",end=" ")
    for j in range (i,n):
        print("*",end=" ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [28]:
n=4
for i in range (n-1):
    for j in range (i,n):
        print(" ",end=" ")
    for j in range (i):
        print("*",end=" ")
    for j in range (i+1):
        print("*",end=" ")
    print()
for i in range (n):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range (i,n-1):
        print("*",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [36]:
n=5
for i in range(n-1):
    for j in range (i,n):
        print(" ",end=" ")
    for j in range (i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *