In [10]:
def first (a,b):
    c=int(b)
    c=c*a
    print(c%10)
first(123.4,True)

3.4000000000000057

In [19]:
def second(a,b):
    print("A is",a,"B is",b)
second(b=3,a=2)

A is 2 B is 3

In [21]:
def third(name="Akhil",place="Eluru"):
    print("Name is",name,"I'm from",place)
third()
third(name="akhil",place="eluru")

Name is Akhil I'm from Eluru
Name is akhil I'm from eluru

In [25]:
def fourth(**name):
    print("Name is",name)
fourth(name="Akhil")

Name is {'name': 'Akhil'}

In [6]:
def sum(a):
    b=a%10
    while a>10:
        a=a//10
    final=b+a
    print(final)
sum(384)

7

In [11]:
def login ():
    while True:
        username=input()
        password=input() 
        if username==password:
            print("Login Successful")
            break
        else :
            print("Wrong Username or Password")
            print("Enter correct Credentials")
login()

a
b
Wrong Username or Password
Enter correct Credentials
a
a
Login Successful

In [12]:
login()

a
a
Login Successful

In [6]:
def fact(n):
    if n==0:
        return 1
    return n*fact(n-1)
fact(5)

120

In [12]:
def fib(n):
    if n==1:
        return 0
    if n==2:
        return 1
    return fib(n-1)+fib(n-2)
a=fib(5)
print(a)

3

In [8]:
def reverse(n):
    if n==0:
        return
    print(n%10)    
    return reverse(n//10)
reverse(1234)

4
3
2
1

In [43]:
def calculate(n):
    if n<10:
        return 1
    return 1+calculate(n//10)
calculate(1000)

4

In [44]:
def calculate(n):
    if n<10:
        return 1
    return n%10+calculate(n//10)
calculate(1234)

10

In [17]:
n=int(input("Enter a number = "))
def value(n):
    if n==0:
        return 0
    return 1+value(n//10)
power=value(n)
def number(n):
    if n==0:
        return 0
    return (n%10)**power+number(n//10)
b=number(n)
if number(n==b):
    print("The Number is an amstrong number")
else :
    print("The Number is not an amstrong number")

Enter a number = 153
The Number is an amstrong number

In [19]:
list=[77,2.35,'Akhil',True]
print (list)

[77, 2.35, 'Akhil', True]

In [22]:
print(list)

[77, 2.35, 'Akhil', True]

In [25]:
print (list[0:2])

[77, 2.35]

In [26]:
print (list[0])

77

In [30]:
print(list[:3:])

[77, 2.35, 'Akhil']

In [31]:
print (list[::-1])

[True, 'Akhil', 2.35, 77]

In [35]:
for i in range (0,3):
    print (list[i])

77
2.35
Akhil

In [37]:
list[1]="Indian"
print(list)

[77, 'Indian', 'Akhil', True]

In [42]:
list.append(9)

In [43]:
print(list)

[77, 'Indian', 'Akhil', True, 1234, 1234, 123, 12, 9]

In [46]:
list.insert(4,"Pragati")
print (list)

[77, 'Indian', 'Akhil', True, 'Pragati', 1234, 1234, 123, 12, 9]

In [51]:
print(list)

[77, 'Indian', 'Akhil', True, 'Pragati', 12, 9]

In [3]:
mylist=[12,42,23,96,7,18,10,133]
print (mylist)

[12, 42, 23, 96, 7, 18, 10, 133]

In [53]:
print(min(mylist))

7

In [55]:
print(min(mylist)+(max(mylist)))

140

In [4]:
least=mylist[0]
highest=mylist[0]
for i in mylist :
    if i<least:
        least=i
    if i>highest:
        highest=i
print(least)
print(highest)
print(least+highest)
print(least-highest)
a=least+highest
b=least-highest
print(a)
print(b)

7
133
140
-126
140
-126

In [84]:
mylist[4]=b
mylist[7]=a
print(mylist)

[12, 42, 23, 96, -126, 18, 10, 140]

In [101]:
dict={0:5,"Bolle":"Akhil",3:5,7:7}
print(dict)

{0: 5, 'Bolle': 'Akhil', 3: 5, 7: 7}

In [98]:
print(dict[2])

Akhil